<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="cz.muni.fi.cdii.modelextension0"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
      <processor 
            beforefragment="true"
            class="cz.muni.fi.cdii.eclipse.ContextRegistrator" >
       </processor>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="cz.muni.fi.cdii.plugin.coreExpr.inspectCdi">
         <with
               variable="activeMenuSelection">
            <and>
            <iterate
                  ifEmpty="false"
                  operator="or">
               <and>
                  <adapt
                        type="org.eclipse.jdt.core.IJavaProject">
                  </adapt>
                  <test property="org.eclipse.core.resources.projectNature" 
                        value="org.jboss.tools.cdi.core.cdinature" />
               </and>
            </iterate>
               <count
                     value="1">
               </count>
            </and>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="cz.muni.fi.cdii.plugin.category.cdi"
            name="CDI">
      </category>
      <view
            allowMultiple="false"
            category="cz.muni.fi.cdii.plugin.category.cdi"
            class="cz.muni.fi.cdii.eclipse.ui.e3.InspectorPartE3Wrapper"
            icon="icons/cdii_icon.png"
            id="cz.muni.fi.cdii.eclipse.e3viewparts.cdii"
            name="CDI Inspector"
            restorable="true">
      </view>
   </extension>

</plugin>
