<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="cz.muni.fi.cdii.modelextension0"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="cz.muni.fi.cdii.plugin.coreExpr.inspectCdi">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <or>
                  <adapt
                        type="org.eclipse.jdt.core.ICompilationUnit">
                  </adapt>
                  <adapt
                        type="org.eclipse.jdt.core.IJavaProject">
                  </adapt>
                  <adapt
                        type="org.eclipse.jdt.core.IPackageFragment">
                  </adapt>
               </or>
            </iterate>
         </with>
      </definition>
   </extension>

</plugin>
